
body {
    background: #827365;
    font-family: Arial;
}
h1 {
    color: red;
}
/* eSEqSQzqdDHQsn7cokZBj1blpQEovJDb9rXP5ZlLEbUqYPGZ1OVDyNd5IM6B7TCVjcdIs68Dyaqp4ZDp6kQTZwXd2q4gvG9bzYzse9xbPCt2wvfbf1R64YoDqocaslSWfoPUsLXKwxKjsK2V00Wh3GoOqlfve93lke9Y2VkYvAVjRY63X5ojezSMBIPZDTSqdV6ajw9c */
